<%- include("navbar") %>
<main class="container-fluid">
  <div class="row align-items-center justify-content-center h-100">
    <h1 class="col-12 text-center">New product:</h1>
    <div class="col-12 d-flex align-items-center justify-content-center h-100">
      <form
        action="/products/addProduct/<%= id %>"
        method="post"
        enctype="multipart/form-data"
        class="col-4 h-100"
      >
        <div class="mb-3 d-flex flex-column align-items-center">
          <!--Product Name -->
          <div class="form-floating mb-2">
            <input
              type="text"
              class="form-control"
              id="name"
              placeholder="Product name"
              name="product_name"
            />
            <label for="name">Product name</label>
          </div>
          <div class="d-flex justify-content-between gap-3 container2Inputs">
            <!--Product Category -->
            <div class="w-100">
              <label for="category" class="align-self-start  mb-1 text-white"
                >Category</label
              >
              <select name="category" id="category" class="selectAddProd">
                <option value=""></option>
                <option value="Funkos">Funkos</option>
                <option value="Comics">Comics</option>
                <option value="Board Games">Board Games</option>
                <option value="Clothes">Clothes</option>
                <option value="Merchandising">Merchandising</option>
              </select>
            </div>
            <!--Product Status -->
            <div class="w-100 mb-2">
              <label for="status" class="align-self-start mb-1 text-white"
                >Status</label
              >
              <select name="status" id="status" class="selectAddProd">
                <option value=""></option>
                <option value="1">Very Good / Almost new</option>
                <option value="2">Good</option>
                <option value="3">Regular / OK</option>
                <option value="4">Bad</option>
                <option value="5">Repair needed</option>
              </select>
            </div>
            <!-- Price -->
            <div class="form-floating align-self-end ">
              <input
                type="number"
                class="form-control "
                id="price"
                placeholder="Price"
                name="price"
                min="0"
              />
              <label for="price">Price</label>
            </div>
          </div>
          <!-- Product description -->
          <div class="form-floating">
            <textarea
              class="form-control"
              placeholder="Product description"
              id="description"
              name="description"
            ></textarea>
            <label for="description">Product description</label>
          </div>
          <div class="d-flex justify-content-between gap-3 container2Inputs">
            <div>
              <!-- Profile Img -->
              <div class="mb-3 inputFile">
                <label for="img" class="form-label"></label>
                <input class="form-control" type="file" id="img" name="img" />
              </div>
              <h4 class="text-danger">
                <%= typeof message != 'undefined' ? message : null %>
              </h4>
            </div>
            <button
              type="submit"
              class="btn btn-primary align-self-end allSellerButton submitForm"
            >
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</main>
<%- include("footer") %>
