* {
  box-sizing: border-box;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  .allSellersHr {
    border-top: 2px solid #c78867;
    opacity: 1;
    width: 100%;
    margin-top: 0;
  }
}
/* Navbar */
nav {
  .navbarTitle {
    font-family: "Eagle Lake", cursive;
  }
  .registerButton {
    border-radius: 5px;
  }
  .registerButton:hover {
    background-color: #dc8556;
    border: 1px outset black;
  }
}
/* Main */
main {
  min-height: calc(100vh - 62.75px - 84px);
  background-color: darkslategray;
  background-image: url("../images/High_resolution_wallpaper_background_ID_77702110654-optimized.webp");
  background-size: cover;
  background-position: center;
  filter: grayscale(0.25);
  padding: 3vh 0;

  form {
    background-color: rgba(0, 0, 0, 0.121);
    backdrop-filter: blur(10px);
    padding: 3vh 0 1vh 0;
    border-radius: 15px;

    .form-floating,
    .form-text,
    h4 {
      transform: scaley(0.75);
      width: 90%;
    }

    .inputFile {
      font-size: 0.85rem;
      width: 90%;
    }

    .submitForm {
      transform: translate(-30px);
      //transform: ;
    }
  }

  .allSellersCard {
    background-color: rgba(255, 255, 255, 0.046);
    backdrop-filter: blur(10px);
    color: rgb(220, 220, 220);
    border-radius: 15px;
  }

  .allSellerImg {
    transform: scale(0.9);
    border-radius: 100%;
    filter: brightness(0.8);
  }

  .allSellerButton {
    background-color: #c78867;
    border: 1px outset #c78867;
    border-radius: 8px;
  }

  .allSellerButton:hover {
    background-color: #dc8556;
    border: 1px outset black;
  }
}

/* Footer */
footer {
  .containerLogo {
    display: flex;
    justify-content: center;

    .footerLogo {
      border-radius: 100%;
      padding: 0;
      height: 40px;
      width: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .footerLogo:hover {
      transform: scale(1.2);
    }
  }
}
