* {
  box-sizing: border-box;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  *::selection{
    background-color: #dc8556;
    color: white;
  }
  h1,h2,h3,h4,h5 {
    font-family: "Eagle Lake", cursive;
  

  }

  a {
    text-decoration: none;
    color: white;
  }
  a:hover {
    color: white;
  }

  .allSellersHr {
    border-top: 2px solid #c78867;
    opacity: 1;
    width: 100%;
    margin-top: 0;
  }

  .titleHr {
    width: 50%;
    opacity: 1;
  }

  .registerButton {
    border-radius: 5px;
    height: 28px;

    border-color: #6c757d;
  }

  .registerButton:hover {
    background-color: #dc8556;
    border: 1px outset black;
  }

  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 20;
    transform: scale(0.8);
  }

  .Added {
    filter: brightness(0.5);
    pointer-events: none;
    cursor: default;
  }
}
/* Navbar */

.navbarTitle {
  font-family: "Eagle Lake", cursive;
  font-size: 30px;
  padding-right: 20px;
}
h1 {
  font-family: "Eagle Lake", cursive;
  font-weight: bold;
}
h2 {
  font-family: "Eagle Lake", cursive;
}

.carruselInt {
  height: 50vh;
  .carruselIntDiv {
    position: relative;
    height: 100%;

    img {
      height: 100%;
      object-fit: cover;
      object-position: center;
      filter: brightness(0.9);
    }

    div {
      z-index: 2;
      position: absolute;
      bottom: 50%;
      left: 8vw;
      color: #e1814e;
      background-color: rgba(0, 0, 0, 0.537);
      backdrop-filter: blur(15px);
      padding: 2vh 2vw;
      border-radius: 10px;
    }
  }
}

/* Main */
main {
  min-height: calc(100vh - 71.75px - 84px);
  margin-top: 71.75px;
  padding: 0 0 4vh 0;

  background-color: darkslategray;
  background-image: url("../images/High_resolution_wallpaper_background_ID_77702110654-optimized.webp");
  background-size: cover;
  background-position: top;
  background-attachment: fixed;

  form {
    background-color: rgba(0, 0, 0, 0.208);
    backdrop-filter: blur(15px);
    padding: 3vh 0 1vh 0;
    border-radius: 15px;

    .form-floating,
    .form-text,
    h4 {
      transform: scaley(0.75);
      width: 90%;
    }

    .inputFile,
    .selectAddProd {
      font-size: 0.85rem;
      width: 90%;
    }

    .submitForm {
      transform: translate(-30px);
      //transform: ;
    }

    .inputEditSeller {
      transform: scaleY(1.25);
    }
    .selectAddProd {
      height: 38px;
      width: 100%;

      border-radius: 6px;
    }
    label {
      color: #6c757d;
    }
    .container2Inputs {
      width: 90%;
    }
    .card-title {
      font-weight: bolder;
    }
  }
  .rowAllProd {
    row-gap: 15px;
    padding: 2vh 6vw;
  }

  .allSellersCard,
  .allProdCard {
    background-color: rgba(214, 213, 213, 0.2);
    backdrop-filter: blur(15px);
    color: rgb(220, 220, 220);
    border-radius: 15px;
    transition: transform 1s ease;
  }
  

  .allSellerImg {
    transform: scale(0.9);
    border-radius: 100%;
    filter: brightness(0.9);
    transition: transform 1.5s ease;
  }

  .allSellersCard:hover{
    .allSellerImg{

      transform: scale(1.005);
    }

    
  }

  .allSellerButton {
    background-color: #c78867;
    border: 1px outset #c78867;
    border-radius: 8px;
    color: white;
  }

  .allSellerButton:hover {
    background-color: #dc8556;
    border: 1px outset white;
  }
  .prodAddCartButton:hover {
    background-color: #198754;
    color: white;
  }
  .prodDeleteButton:hover {
    background-color: #dc3545;
    color: white;
  }

  .prodEditButton:hover {
    background-color: rgb(255, 145, 0);
    color: white;
  }

  .addProductButton {
    background-color: #c78867;
    color: white;
    border: 1px outset #c78867;
  }

  .allProductImgCont {
    object-fit: cover;
    object-position: center;
  }

  .hoverAllProdImg{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;;
    height: 300px;
    overflow: hidden;
  }

  .allProductImg {
    max-height: 350px;
    width: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

    height: 100%;
    object-fit: cover;
    object-position: center;
    transition:transform 1s ease;
  }
  

  .oneProdImg {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .oneSellerproductImg {
    border-start-start-radius: 15px;
    border-top-right-radius: 15px;
    max-height: 250px;
  }
  .oneSellerProductCard {
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    color: rgb(220, 220, 220);
    border-radius: 15px;
  }
  .textOneSeller {
    color: #683b23;
    font-weight: 600;
  }
  ul {
    list-style: none;
  }

  .oneSellerProductCard:hover,
  .allProdCard:hover {
    

    .allProductImg{
      transform: scale(1.2);
    }
  }

  .cardShoppingCart,
  .totalCartContainer {
    background-color: rgba(0, 0, 0, 0.432);
    backdrop-filter: blur(10px);
    color: white;
    width: 100%;
    border: none;

    border-radius: 15px;
  }

  .colorDarkOrange,
  .nav_category {
    color: #c16e41;
  }

  .nav_category:hover,
  .nav_category:active {
    color: white;
    border: none;
  }
  .imgHeight {
    width: 100%;
    max-height: 320px;
  }
}
.backgroung_forms{
  background-image:linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("../images/sunlight-fantasy-art-sunset-artwork-sunrise-dragon-605950-wallhere.com.jpg")
  ;
  
  
 
}
/* Footer */
footer {
  .containerLogo {
    display: flex;
    justify-content: center;

    .footerLogo {
      border-radius: 100%;
      padding: 0;
      height: 40px;
      width: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .footerLogo:hover {
      transform: scale(1.2);
    }
  }
}

@media (max-width: 991px) {
  main {
    .allProdCard {
      max-width: 450px;
    }
    .allProductImg, .hoverAllProdImg {
      border-radius: 15px 15px 0 0;
    }
  }
}

@media (max-width: 575px) {
  .cardheight {
    height: fit-content;
  }
}
